<!-- <div class="row justify-content-between"> -->
<div class="row">  
  <div class="card" style="width: 18rem;" *ngFor="let usuario of usuarios">
      <div class="card-body">
        <h5 class="card-title">Usuario</h5>
        <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
        <ul class="list-group">
          <li class="list-group-item">{{ usuario.nombre }}</li>
          <li class="list-group-item">{{ usuario.edad }}</li>
          <!-- <li class="list-group-item">{{ usuario.id }}</li> -->
        </ul>
        <!-- <p class="card-text">{{ usuario.edad }}</p> -->
    </div>
    <!-- <div class="card-footer text-white">
      <div class="float-right">
        <a routerLink="/crisis-center" class="btn btn-secondary mr-3">Editar</a>
        <a class="btn btn-danger">Eliminar</a>
      </div>
    </div> -->
    <div class="card-footer text-white d-flex justify-content-between">
        <a [routerLink]="['/', usuario.id]" class="btn btn-secondary">Editar</a>
        <button class="btn btn-danger" (click)="eliminar(usuario.id)">Eliminar</button>
      </div>
  </div>
</div>